<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Silver Racer</title>
  <link rel="stylesheet" href="./css/index.css" />
</head>
<body>
<div class="topbar">
  <ul id="topbar_li">
    <a id="algopa" href="/index.html">알고파</a>
    <a id="home" href="/index.html">홈</a>
    <a id="my_study" href="/my_study">내스터디</a>
    <a id="help" href="/login.html">고객지원</a>
    <a id="event" href="/login.html">이벤트</a>
    <a id="login" href="/login">로그인</a>
  </ul>
</div>
<div class="banner">
  <div id="logo"><img src="img\alpaca.png"></div>
  <div id="text">
    <div><span id="al">알</span></div>
    <div><span id="go">고</span>리즘을</div>
    <div><span id="pa">파</span>헤치는 사람들</div>
  </div>
</div>
<div>
  <div></div>
  <div></div>
  <div></div>
</div>

</body>
<script src="../static/js/login.js"></script>

</html>
