.top-bar {
  background-color: aqua;
  height: var(--top-bar-height);

  margin: 0px;
}

.main {
  background-color: #faedb4;
  position: relative;
  width: 100vw;
  height: calc((100vh) - (var(--top-bar-height)));
  align-items: flex-start;
  align-content: space-between;
  float: left;
}

.side-bar {
  background-color: blanchedalmond;
  position: fixed;
  height: 90vh;
  width: 80px;
  overflow: hidden;
  transition: 0.5s;
  z-index: 2;
}

.side-bar:hover {
  width: 200px;
}

.side-bar li a {
  display: flex;
  align-items: center;
  text-align: right;
  white-space: nowrap;
}
.side-bar li a span {
  /* opacity: 0; */
  transition: 0.5s;
}
.side-bar li a img {
  width: 60px;
  height: 60px;
  margin: 10px;
}

.weekend {
  margin-left: 150px;
  position: absolute;
  top: 50%;
  margin-top: -225px;
}
.weekend div {
  /* position: absolute; */
  border-radius: 15px;
  height: 450px;
  width: 130px;
  background-color: cadetblue;
  float: left;
  margin: 10px;
}

:root {
  --top-bar-height: 10vh;
}

.alpaca-img {
  margin-left: 82%;
  position: absolute;
  top: 10%;
  /* margin-top: -75px; */
}
.money-gif {
  margin-left: 82%;
  position: absolute;
  top: 25%;
}
header {
  margin: 0px;
}
* {
  margin: 0px;
  padding: 0px;
}

ul li {
  list-style: none;
}
a {
  text-decoration: none;
}

a:visited {
  color: black;
}
