* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: beige; */
}
#login-form {
  /* border: 1px #9f9f9f solid; */
  /* border-radius: 15px; */
  min-width: 350px;
  max-width: 350px;
  min-height: 450px;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 2.5em;
}
#login-form-main-text {
  font-size: 0.7em;
  font-weight: bold;
}
#user-type {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1rem;
  justify-content: center;
  font-weight: bold;
}

#general-user {
  justify-content: center;
  width: 50%;
  display: flex;
  align-items: center;
  min-height: 50px;
  opacity: 0.4;
  cursor: pointer;
}

#admin-user {
  justify-content: center;
  width: 50%;
  display: flex;
  align-items: center;
  min-height: 50px;
  /* border-bottom: 3px #cfe6f0 solid; */
  opacity: 0.4;
  cursor: pointer;
}
#user-type > .selected-user-type {
  border-bottom: 4px #cfe6f0 solid;
  opacity: 1;
}
#id-input-box {
  font-size: 1rem;
}
#id-input-box > span {
  color: #616161;
}
#id-input-box > input {
  /* background-color: blue; */
  width: 100%;
  min-height: 50px;
  border-radius: 3px;
  margin-top: 3px;
  border: 1px #9f9f9f solid;
}
#id-input-box > input[type='text'] {
  font-size: 15px;
  color: #616161;
  padding: 10px;
  box-sizing: border-box;
  font-weight: bold;
}
#id-input-box > input::placeholder {
  font-size: 15px;
  color: #9f9f9f;
}
#pw-input-box {
  font-size: 1rem;
}
#pw-input-box > span {
  color: #616161;
}
#pw-input-box > input {
  /* background-color: blue; */
  width: 100%;
  min-height: 50px;
  max-height: 50px;
  margin-top: 3px;
  border-radius: 3px;
  border: 1px #9f9f9f solid;
}
#pw-input-box > input[type='password'] {
  font-size: 20px;
  color: #616161;
  padding: 10px;
  box-sizing: border-box;
  font-weight: bold;
}
#pw-input-box > input::placeholder {
  font-size: 15px;
  color: #9f9f9f;
  /* font-weight: normal; */
}
#sub-func {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}
#save-id {
  display: flex;
  font-size: 0.7em;
  gap: 2px;
  justify-content: center;
}
#save-id-button {
  background-color: #9f9f9f;
  width: 2em;
  height: 1.3em;
}
#login-button {
  width: 100%;
  min-height: 50px;
  max-height: 50px;
  border: none;
  background-color: #cfe6f0;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
#login-button:hover {
  background-color: #c9dee5;
  cursor: pointer;
}

#find-pw {
  font-size: 0.7em;
}

#sign-up {
  text-align: center;
  font-size: 0.8rem;
}
