.container {
  display: grid;
  grid-template-areas:
    'header header header'
    'menu main top'
    'menu main aside'
    'menu main bottom'
    'footer footer footer';
}

.container div {
  background-color: silver;
  padding: 20px;
  border: 1px solid black;
}

.header {
  grid-area: header;
}
.menu {
  grid-area: menu;
}
.main {
  grid-area: main;
}
.top {
  grid-area: top;
}
.aside {
  grid-area: aside;
}
.bottom {
  grid-area: bottom;
}
.footer {
  grid-area: footer;
}
