<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/my_study.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <title>Algopa</title>
  </head>
  <body>
    <div id="top-bar">
      <div>
        <div id="top-menu">
          <div id="logo">알고파</div>
          <div id="my_study">내스터디</div>
          <div id="help">고객지원</div>
          <div id="event">이벤트</div>
        </div>
        <div id="top-right">
          <div>
            <div id="search">검색</div>
            <div id="login">로그인</div>
          </div>
        </div>
      </div>
    </div>
    <div id="main">
      <div id="side-bar">
        <div id="send">
          <img
            src="https://cdn-icons-png.flaticon.com/512/4697/4697781.png"
            alt=""
          /><span class="hidden">제출하기</span>
        </div>
        <div id="rule">
          <img
            src="https://cdn-icons-png.flaticon.com/512/1735/1735420.png"
            alt=""
          /><span class="hidden">규칙</span>
        </div>
        <div id="penelty">
          <img
            src="https://cdn-icons-png.flaticon.com/512/3234/3234942.png"
            alt=""
          /><span class="hidden">벌금</span>
        </div>
        <div id="my-page">
          <img
            src="https://cdn-icons-png.flaticon.com/512/5076/5076815.png"
            alt=""
          /><span class="hidden">마이페이지</span>
        </div>
        <div id="setting">
          <img
            src="https://cdn-icons-png.flaticon.com/512/2252/2252274.png"
            alt=""
          /><span class="hidden">스터디설정</span>
        </div>
      </div>
      <div id="week_and_right">
        <div id="weekend">
          <div>
            <div id="sun">
              <div>
                <span>8/20 일</span>
              </div>
              <div id="complete-member">박선하</div>
              <div id="complete-member">박선하</div>
              <div id="complete-member">박선하</div>
              <button id="added-complete-member-button" onclick="hello()">
                <span class="material-icons">
                  add_circle_outline
                </span>
              </button>
            </div>
            <div id="mon">
              <div>
                <span>8/20 일</span>
              </div>
              <div id="complete-member">박선하</div>
              <button id="added-complete-member-button" onclick="hello()">
                <span class="material-icons">
                  add_circle_outline
                </span>
              </button>
            </div>
            <div id="tue">
              <div>
                <span>8/20 일</span>
              </div>
              <div id="complete-member">박선하</div>
              <button id="added-complete-member-button" onclick="hello()">
                <span class="material-icons">
                  add_circle_outline
                </span>
              </button>
            </div>
            <div id="wed">
              <div>
                <span>8/20 일</span>
              </div>
              <div id="complete-member">박선하</div>
              <button id="added-complete-member-button" onclick="hello()">
                <span class="material-icons">
                  add_circle_outline
                </span>
              </button>
            </div>
            <div id="thu">
              <div>
                <span>8/20 일</span>
              </div>
              <div id="complete-member">박선하</div>
              <div id="complete-member">박선하</div>
              <div id="complete-member">박선하</div>
              <div id="complete-member">박선하</div>
              <div id="complete-member">박선하</div>
              <button id="added-complete-member-button" onclick="hello()">
                <span class="material-icons">
                  add_circle_outline
                </span>
              </button>
            </div>
            <div id="fri">
              <div>
                <span>8/20 일</span>
              </div>
              <div id="complete-member">박선하</div>
              <button id="added-complete-member-button" onclick="hello()">
                <span class="material-icons">
                  add_circle_outline
                </span>
              </button>
            </div>
            <div id="sat">
              <div>
                <span>8/20 일</span>
              </div>
              <div id="complete-member">박선하</div>
              <button id="added-complete-member-button" onclick="hello()">
                <span class="material-icons">
                  add_circle_outline
                </span>
              </button>
            </div>
          </div>
        </div>
          <div id="right-ui">
            <div id="money">
              <div id="money-img"></div>
            </div>
            <div id="ranking">
              랭킹
              <div id="ranking-member">
                <div id="place"><img src="https://cdn-icons-png.flaticon.com/512/3097/3097244.png"></div>
                <div id="ranking-name">박선하</div>
              </div>
              <div id="ranking-member">
                  <div id="place"><img src="https://cdn-icons-png.flaticon.com/512/3097/3097244.png"></div>
                  <div id="ranking-name">배병윤</div>
              </div>
              <div id="ranking-member">
                <div id="place"><img src="https://cdn-icons-png.flaticon.com/512/3097/3097244.png"></div>
                <div id="ranking-name">조은정</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="js/my_study.js"></script>
</html>
