<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/my_study.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
    />
  </head>
  <body>
    <header class="top-bar margin-zero">탑바</header>
    <main class="main">
      <div class="side-bar">
        사이드바
        <ul class="side-bar">
          <li>
            <a href=""
              ><img
                src="https://cdn-icons-png.flaticon.com/512/4697/4697781.png"
                alt="제출"
              />
              <span>제출</span>
            </a>
          </li>
          <li>
            <a href=""
              ><img
                src="https://cdn-icons-png.flaticon.com/512/1735/1735420.png"
                alt="규칙"
              />
              <span>규칙</span>
            </a>
          </li>
          <li>
            <a href=""
              ><img
                src="https://cdn-icons-png.flaticon.com/512/3234/3234942.png"
                alt="벌금"
              />
              <span>벌금</span>
            </a>
          </li>
          <li>
            <a href=""
              ><img
                src="https://cdn-icons-png.flaticon.com/512/5076/5076815.png"
                alt="마이페이지"
              />
              <span>마이페이지</span>
            </a>
          </li>
          <li>
            <a href=""
              ><img
                src="https://cdn-icons-png.flaticon.com/512/2252/2252274.png "
                alt="관리자설정"
              />
              <span>설정</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="weekend">
        <div id="sun">
          일
          <span></span>
        </div>
        <div id="mon">
          월
          <span></span>
        </div>
        <div id="tue">
          화
          <span></span>
        </div>
        <div id="wen">
          수
          <span></span>
        </div>
        <div id="thu">
          목
          <span></span>
        </div>
        <div id="fri">
          금
          <span></span>
        </div>
        <div id="sat">
          토
          <span></span>
        </div>
      </div>
      <div class="right-menu">
        <div class="alpaca-img">
          <img
            src="https://cdn-icons-png.flaticon.com/512/11520/11520049.png"
            alt="내 프로필"
            width="200px"
            height="200px"
          />
        </div>
        <div class="money-gif">
          <img src="/img/money_gif.gif" alt="돈" width="200px" height="200px" />
        </div>
      </div>
    </main>
  </body>
</html>
