<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/my_study_submit.css" />
    <link rel="stylesheet" href="./css/my_study.css" />
    <title>Algopa</title>
  </head>
  <body>
    <div id="all">
      <div class="topbar">
        <div class="topbar-left-menu">
          <div id="logo">알고파</div>
          <div id="home">홈</div>
          <div id="my-study">내 스터디</div>
          <div id="help">고객지원</div>
          <div id="event">이벤트</div>
        </div>
        <div class="topbar-right-menu">
          <div id="search-menu"><a href="">검색</a></div>
          <div id="login-menu"><a href="">로그인</a></div>
        </div>
      </div>
      <div id="my-study-main">
        <div id="study-folder-list">
          <div class="study-folder">
            <div>
              <div id="study-folder-name">실버1</div>
              <div id="study-member-alpaca">
                <img src="/img/money-gif.gif" alt="" />
              </div>
            </div>
            <div id="study-folder-img-box">
              <img src="./img/스터디폴더.png" alt="" />
            </div>
          </div>
          <div class="study-folder">
            <div>
              <div id="study-folder-name">실버2</div>
              <div id="study-member-alpaca">
                <img src="/img/money-gif.gif" alt="" />
              </div>
            </div>
            <div id="study-folder-img-box">
              <img src="./img/스터디폴더.png" alt="" />
            </div>
          </div>
          <div class="study-folder">
            <div>
              <div id="study-folder-name">실버3</div>
              <div id="study-member-alpaca">
                <img src="/img/money-gif.gif" alt="" />
              </div>
            </div>
            <div id="study-folder-img-box">
              <img src="./img/스터디폴더.png" alt="" />
            </div>
          </div>
          <div class="study-folder">
            <div>
              <div id="study-folder-name">실버4</div>
              <div id="study-member-alpaca">
                <img src="/img/money-gif.gif" alt="" />
              </div>
            </div>
            <div id="study-folder-img-box">
              <img src="./img/스터디폴더.png" alt="" />
            </div>
          </div>
          <div class="study-folder">
            <div>
              <div id="study-folder-name">실버5</div>
              <div id="study-member-alpaca">
                <img src="/img/money-gif.gif" alt="" />
              </div>
            </div>
            <div id="study-folder-img-box">
              <img src="./img/스터디폴더.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
